{% extends 'base.html.twig' %}

{% block title %} Be a Winner{% endblock %}

{% block body %}

    {% include 'menu.html.twig' %}

    <!-- inner-page-banner start -->
    <section class="inner-page-banner has_bg_image" data-background="{{ asset('assets/images/theme/inner-page-bg.jpg') }}">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="inner-page-banner-area">
              <h1 class="page-title">About Us</h1>
              <nav aria-label="breadcrumb" class="page-header-breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="home-one.html">Home</a></li>
                  <li class="breadcrumb-item"><a href="#0">pages</a></li>
                  <li class="breadcrumb-item active">About</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- inner-page-banner end -->

    <!-- about-section start -->
  <section class="about-section section-padding">
    <div class="container-fluid">
      <div class="row justify-content-between">
        <div class="col-xl-5 p-xl-0">
          <div class="thumb">
            <img src="{{ asset('assets/images/theme/about-image.jpg') }}" alt="image">
          </div>
        </div>
        <div class="col-xl-6 p-xl-0">
          <div class="content">
            <h2 class="title">A FEW WORDS ABOUT US</h2>
            <p>Our goal is to provide our customers with the most convenient and enjoyable lottery purchasing experience.</p>
            <p>It’s not just what we do, it’s who we are. From past to present, we are a success story still in the making.With an enthusiasm to serve, our commitment to providing fun and fair games is matched by our desire to make a positive difference in the community.</p>
            <ul class="cmn-list">
              <li>Playing It Global for Over a Decade</li>
              <li>Play from Anywhere in the World</li>
              <li>Absolutely No Commissions Taken</li>
              <li>A Simple and Secure Service</li>
              <li>Winning Made Easy</li>
            </ul>
            <a href="#0" class="cmn-btn">a bit of history</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- about-section end -->

  <!-- choose-us-section start -->
  <section class="choose-us-section section-padding border-top border-bottom has_bg_image" data-background="{{ asset('assets/images/theme/inner-page-banner.jpg') }}">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="section-header text-center">
            <h2 class="section-title">Why Choose Us?</h2>
            <p>With a selection of the world’s biggest and best international jackpots to choose from, there are already millions of reasons why you should be playing with sorteo lottery. But you don’t need a million reasons. All you need is six - and every one of them’s a winner:</p>
          </div>
        </div>
      </div>
      <div class="row mt-mb-15">
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="choose-item text-center choose-item--gray-border">
            <div class="front">
              <div class="icon">
                <img src="{{ asset('assets/images/theme/svg-icons/choose-us-icons/1.svg') }}" alt="icon">
              </div>
              <h4 class="title">Biggest lottery jackpots</h4>
            </div>
            <div class="back">
              <p>One of the core advantages of playing an online lotto is that it is both safe and secure. So, there is no need for you to queue, or visit a retail store, to get tickets.</p>
            </div>
          </div>
        </div><!-- choose-item end -->
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="choose-item text-center choose-item--gray-border">
            <div class="front">
              <div class="icon">
                <img src="{{ asset('assets/images/theme/svg-icons/choose-us-icons/2.svg') }}" alt="icon">
              </div>
              <h4 class="title">No commission on Winnings</h4>
            </div>
            <div class="back">
              <p>One of the core advantages of playing an online lotto is that it is both safe and secure. So, there is no need for you to queue, or visit a retail store, to get tickets.</p>
            </div>
          </div>
        </div><!-- choose-item end -->
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="choose-item text-center choose-item--gray-border">
            <div class="front">
              <div class="icon">
                <img src="{{ asset('assets/images/theme/svg-icons/choose-us-icons/3.svg') }}" alt="icon">
              </div>
              <h4 class="title"> Safe and Secure Playing</h4>
            </div>
            <div class="back">
              <p>One of the core advantages of playing an online lotto is that it is both safe and secure. So, there is no need for you to queue, or visit a retail store, to get tickets.</p>
            </div>
          </div>
        </div><!-- choose-item end -->
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="choose-item text-center choose-item--gray-border">
            <div class="front">
              <div class="icon">
                <img src="{{ asset('assets/images/theme/svg-icons/choose-us-icons/4.svg') }}" alt="icon">
              </div>
              <h4 class="title">Instant payout system</h4>
            </div>
            <div class="back">
              <p>One of the core advantages of playing an online lotto is that it is both safe and secure. So, there is no need for you to queue, or visit a retail store, to get tickets.</p>
            </div>
          </div>
        </div><!-- choose-item end -->
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="choose-item text-center choose-item--gray-border">
            <div class="front">
              <div class="icon">
                <img src="{{ asset('assets/images/theme/svg-icons/choose-us-icons/5.svg') }}" alt="icon">
              </div>
              <h4 class="title">Performance Bonuses</h4>
            </div>
            <div class="back">
              <p>One of the core advantages of playing an online lotto is that it is both safe and secure. So, there is no need for you to queue, or visit a retail store, to get tickets.</p>
            </div>
          </div>
        </div><!-- choose-item end -->
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="choose-item text-center choose-item--gray-border">
            <div class="front">
              <div class="icon">
                <img src="{{ asset('assets/images/theme/svg-icons/choose-us-icons/6.svg') }}" alt="icon">
              </div>
              <h4 class="title">Dedicated Support</h4>
            </div>
            <div class="back">
              <p>One of the core advantages of playing an online lotto is that it is both safe and secure. So, there is no need for you to queue, or visit a retail store, to get tickets.</p>
            </div>
          </div>
        </div><!-- choose-item end -->
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="choose-item text-center choose-item--gray-border">
            <div class="front">
              <div class="icon">
                <img src="{{ asset('assets/images/theme/svg-icons/choose-us-icons/7.svg') }}" alt="icon">
              </div>
              <h4 class="title">Reliable Payment </h4>
            </div>
            <div class="back">
              <p>One of the core advantages of playing an online lotto is that it is both safe and secure. So, there is no need for you to queue, or visit a retail store, to get tickets.</p>
            </div>
          </div>
        </div><!-- choose-item end -->
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="choose-item text-center choose-item--gray-border">
            <div class="front">
              <div class="icon">
                <img src="{{ asset('assets/images/theme/svg-icons/choose-us-icons/8.svg') }}" alt="icon">
              </div>
              <h4 class="title">Unlimited Affiliates</h4>
            </div>
            <div class="back">
              <p>One of the core advantages of playing an online lotto is that it is both safe and secure. So, there is no need for you to queue, or visit a retail store, to get tickets.</p>
            </div>
          </div>
        </div><!-- choose-item end -->
      </div>
    </div>
  </section>
  <!-- choose-us-section end -->
    
    {% include 'footer.html.twig' %}

{% endblock %}
