{% extends 'base.html.twig' %}

{% block title %} Be a Winner{% endblock %}

{% block body %}

    {% include 'menu.html.twig' %}
{# 
    <div class="container">
        <h1>List of Lotteries</h1>
        <div class="divider"></div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Lottery Number</th>
                    <th scope="col">Size</th>
                    <th scope="col">Ticket Amount</th>
                    <th scope="col">jackpot</th>
                    <th scope="col">Start At</th>
                    <th scope="col">Close At</th>
                    <th scope="col">Active</th>
                    <th scope="col">Details</th>                
                </tr>
            </thead>
            <tbody>
                {% for lottery in lotteries %}
                <tr>
                    <th scope="row">{{ lottery.id }}</th>
                    <td>{{ lottery.lotteryNumber }}</td>
                    <td>{{ lottery.size }}</td>
                    <td>{{ lottery.ticketAmount }}</td>
                    <td>{{ lottery.jackpot }}</td>
                    <td>{{ lottery.startAt | date('Y-m-d H:i:s') }}</td>
                    <td>{{ lottery.closeAt | date('Y-m-d H:i:s') }}</td>
                    <td>{{ lottery.active }}</td>
                    <td><a class="btn btn-primary" href="/admin/lottery/detail/{{lottery.id}}">Detail</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div> #}

    <!-- banner-section start -->
    <section class="banner-section">
      <div class="banner-elements-part has_bg_image" data-background="{{ asset('assets/images/theme/assets/images/banner-net.png') }}">
        <div class="element-one"><img src="{{ asset('assets/images/theme/elements/box.png') }}" alt="vector-image"></div>

        <div class="element-two"><img src="{{ asset('assets/images/theme/elements/car.png') }}" alt="vector-image"></div>

        <div class="element-three"><img src="{{ asset('assets/images/theme/elements/chart.png') }}" alt="vector-image"></div>

        <div class="element-four"><img src="{{ asset('assets/images/theme/elements/dollars.png') }}" alt="vector-image"></div>

        <div class="element-five"><img src="{{ asset('assets/images/theme/elements/laptop.png') }}" alt="vector-image"></div>

        <div class="element-six"><img src="{{ asset('assets/images/theme/elements/money-2.png') }}" alt="vector-image"></div>

        <div class="element-seven"><img src="{{ asset('assets/images/theme/elements/person.png') }}" alt="vector-image"></div>

        <div class="element-eight"><img src="{{ asset('assets/images/theme/elements/person-2.png') }}" alt="vector-image"></div>

        <div class="element-nine"><img src="{{ asset('assets/images/theme/elements/power.png') }}" alt="vector-image"></div>
      </div>
      <div class="banner-content-area">
          <div class="container">
              <div class="row">
                  <div class="col-md-6">
                      <div class="banner-content">
                          <h1 class="title">Take the chance to change your life</h1>
                          <p>Sorteo is online lottery platform inspired by few sorteo lover's fantasy of the ultimate lottery platfrom.</p>
                          <a href="#0" class="cmn-btn">buy ticket now!</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </section>
    <!-- banner-section end -->

    <!-- jackpot-section start -->
    <section class="jackpot-section section-padding">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <div class="section-header text-center">
              <h2 class="section-title">Lottery Jackpots</h2>
              <p>Choose from the Powerball, Mega Millions, Lotto or Lucky Day Lotto and try for a chance to win a big cash prize</p>
            </div>
          </div>
        </div>
        <div class="row">
            {% for lottery in lotteries %}

            <div class="col-lg-4 col-sm-6">
                <div class="jackpot-item text-center">
                <img src="{{ asset('assets/images/theme/elements/jackpot-1.png') }}" alt="image">
                <span class="amount">Win ${{ lottery.jackpot | number_format(2, '.', ',') }}</span>
                <h5 class="title">{{ lottery.lotteryNumber }}</h5>
                <p class="next-draw-time">Sold Tickets: {{ lottery.tickets | length }} out of {{ lottery.size }}</p>
                <p class="next-draw-time">Ticket Price: ${{ lottery.ticketAmount | number_format(2, '.', ',') }}</p>
                {# <p class="next-draw-time">Started At: {{ lottery.startAt | date('Y-m-d H:i:s') }}</p> #}
                {# <p class="next-draw-time">Next Draw : <span id="remainTime1"></span></p> #}
                <a href="/dashboard/play/{{ lottery.id }}" class="cmn-btn">play now!</a>
                </div>
            </div><!-- jackpot-item end -->

            {% endfor %}
          </div>        
        </div>
      </div>
    </section>
    <!-- jackpot-section start -->
    
    {% include 'footer.html.twig' %}

{% endblock %}
