<div class="main-light-version">
    <!--  header-section start  -->
    <header class="header-section">
      <div class="header-top">
          <div class="container">
              <div class="row justify-content-between">
                  <div class="col-lg-6 col-md-6">
                      <div class="header-top-left d-flex">
                          <div class="language-part">
                              <i class="fa fa-globe"></i>
                              <select>
                                  <option>Eng</option>
                                  {# <option>Ban</option>
                                  <option>Rus</option>
                                  <option>Arb</option> #}
                              </select>
                          </div>
                          <div class="support-part">
                              <a href="tel:+88016558888454"><i class="fa fa-headphones"></i>Support</a>
                          </div>
                          <div class="email-part">
                              <a href="mailto:info@sorteo.com"><i class="fa fa-envelope"></i>info@sorteo.com</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-4">
                      <div class="header-top-right">
                          <div class="header-cart-count">
                              {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                              <a href="{{ path('app_logout') }}"<i class="fa fa-sign-out"></i></a>
                              {% endif %}
                              {# <span>My cart (0)</span> #}
                              <span>
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                  {{ app.user.email }}
                                {% else %}  
                                  <a href="{{ path('app_login') }}">Login</a>
                                {% endif %}
                                </span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="header-bottom">
        <div class="container">
          <nav class="navbar navbar-expand-xl">
            <a class="site-logo site-title" href="{{ path('default') }}">
              <p>Premium Millionaire</p>
              {# <img src="{{ asset('assets/images/theme/logo.png') }}" alt="site-logo">             #}
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="menu-toggle"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav main-menu ml-auto">                
                <li><a href="{{ path('lotteries') }}">lotteries</a>
                {# <li><a href="{{ path('results') }}">results</a> #}
                <li><a href="{{ path('how-to-play') }}">how to play</a></li>
                <li><a href="{{ path('faq') }}">faq</a></li>
                {# <li><a href="{{ path('about-us') }}">about us</a></li> #}
                {# <li><a href="{{ path('contact-us') }}">contact us</a></li>                 #}
              </ul>
              <div class="header-join-part">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                  {% if is_granted('ROLE_ADMIN') %}
                  <a class="cmn-btn" href="{{ path('admin-lotteries') }}">Admin</a>
                  {% else %}
                  <a class="cmn-btn" href="{{ path('dashboard') }}">Dashboard</a>
                  {% endif %}
                {% else %}  
                <a class="cmn-btn" href="{{ path('signup') }}">join us</a>
                {% endif %}
                {# <button type="button" class="cmn-btn" data-toggle="modal" data-target="#exampleModal">join us</button> #}
              </div>
            </div>
          </nav>
        </div>
      </div><!-- header-bottom end -->
    </header>
    <!--  header-section end  -->