{% extends 'base.html.twig' %}

{% block title %}Hello LotteryController!{% endblock %}

{% block body %}

    {% include 'admin-menu.html.twig' %}

    <div class="container">
        <h3>Lottery Detail</h3>
        <p>{{ lottery.lotteryNumber }}</p>
        <p>{{ lottery.size }}</p>
        <p>{{ lottery.ticketAmount }}</p>
        <p>{{ lottery.jackpot }}</p>
        <p>{{ lottery.startAt | date('Y-m-d H:i:s') }}</p>
        <p>{{ lottery.closeAt | date('Y-m-d H:i:s') }}</p>
    </div>

    {% include 'footer.html.twig' %}    
{% endblock %}
