{% extends 'base.html.twig' %}

{% block title %}Hello LotteryController!{% endblock %}

{% block body %}

    {% include 'admin-menu.html.twig' %}
  
    <div class="container mb-5">
        <div class="card">
            <div class="card-header">
                <h5>List of Lotteries</h5>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Lottery Number</th>
                        <th scope="col">Size</th>
                        <th scope="col">Ticket Amount</th>
                        <th scope="col">Total Value</th>
                        <th scope="col">jackpot</th>
                        <th scope="col">Start At</th>
                        {# <th scope="col">Close At</th> #}
                        <th scope="col">Sold Tickets</th>
                        <th scope="col">Active</th>
                        <th scope="col">Details</th>                
                    </tr>
                </thead>
                <tbody>
                    {% for lottery in lotteries %}
                    <tr>
                        <th>{{ lottery.id }}</th>
                        <td>{{ lottery.lotteryNumber }}</td>
                        <td>{{ lottery.size }}</td>
                        <td>$ {{ lottery.ticketAmount }}</td>
                        <td>$ {{ lottery.size * lottery.ticketAmount }}</td>
                        <td>$ {{ lottery.jackpot }}</td>
                        <td>{{ lottery.startAt | date('Y-m-d H:i:s') }}</td>
                        <td>{{ lottery.tickets | length }}</td>
                        {# <td>{{ lottery.closeAt | date('Y-m-d H:i:s') }}</td> #}
                        <td>{{ lottery.active }}</td>
                        <td><a class="btn btn-primary" href="/admin/lotteries/detail/{{lottery.id}}"><i class="fa fa-info"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>        

        
    </div>

    {% include 'footer.html.twig' %}  
    
{% endblock %}
