{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block title %}Dashboard!{% endblock %}

{% block body %}

    {% include 'menu.html.twig' with {'user.email': user.email } %}

    <!-- online-ticket-section start -->
    <section class="online-ticket-section section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-header text-center">
                    <h2 class="section-title">All Current Lotteries to Buy</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for lottery in lotteries %}

                <div class="col-lg-4 col-sm-6">
                    <div class="jackpot-item text-center">
                    <a href="/lottery/{{ lottery.id }}"><img src="{{ asset('assets/images/theme/elements/jackpot-1.png') }}" alt="image"></a>
                    <span class="amount">Win ${{ lottery.jackpot | number_format(2, '.', ',') }}</span>
                    <h5 class="title">{{ lottery.lotteryNumber }}</h5>
                    <p class="next-draw-time">Sold Tickets: {{ lottery.tickets | length }} out of {{ lottery.size }}</p>
                    <p class="next-draw-time">Ticket Price: ${{ lottery.ticketAmount | number_format(2, '.', ',') }}</p>
                    {# <p class="next-draw-time">Started At: {{ lottery.startAt | date('Y-m-d H:i:s') }}</p> #}
                    {# <p class="next-draw-time">Next Draw : <span id="remainTime1"></span></p> #}
                    <a href="/dashboard/play/{{ lottery.id }}" class="cmn-btn">play now!</a>
                    </div>
                </div><!-- jackpot-item end -->

                {% endfor %}
            </div>
        </div>
    </section>


    <!-- cart-section start -->
    <section class="cart-section section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-header text-center">
                    <h2 class="section-title">Purchased Tickets</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="cart-area d-flex">
                        <div class="col-lg-12">
                            <div class="cart-table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Ticket Ref No</th>
                                            <th>Ticket Number</th>
                                            <th>Date</th>
                                            <th>Ticket Amount</th>
                                            <th>Lottery No</th>
                                            <th>Jackpot</th>
                                            <th>Status</th>                                            
                                            <th>details</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for ticket in tickets %}
                                        <tr>
                                            <td>{{ ticket.id }}</td>
                                            <td>{{ ticket.ticketNumber }}</td>
                                            <td>{{ ticket.purchasedAt |date }}</td>
                                            <td>${{ ticket.amount }}</td>
                                            <td>{{ticket.lottery.lotteryNumber}}</td>
                                            <td>${{ticket.lottery.jackpot}}</td>
                                            <td>{{ticket.status}}</td>
                                            <td><a class="btn btn-success" href="/dashboard/ticket/{{ ticket.id }}"><i class="fa fa-info"></i></a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {# <span class="pull-right mt-3">1 item</span> #}
                        </div>                    
                    </div>
                </div>
            </div>                    
        </div>
    </section>
    <!-- cart-section end -->

    <!-- cart-section start -->
    <section class="cart-section section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-header text-center">
                    <h2 class="section-title">Pending Tickets</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="cart-area d-flex">
                        <div class="col-lg-12">
                            <div class="cart-table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Ticket Ref No</th>
                                            <th>Ticket Number</th>
                                            <th>Ticket Amount</th>
                                            <th>Reserved At</th>
                                            <th>Expire At</th>
                                            <th>Lottery No</th>
                                            <th>Jackpot</th>
                                            <th>Status</th>                                            
                                            <th>Details</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for tempTicket in tempTickets %}
                                        <tr>
                                            <td>{{ tempTicket.id }}</td>
                                            <td>{{ tempTicket.ticketNumber }}</td>
                                            <td>${{ tempTicket.amount }}</td>
                                            <td>{{ tempTicket.CreatedAt |date }}</td>
                                            <td>{{ tempTicket.CreatedAt |date_modify("+30 minute")|date}}</td>
                                            <td>{{ tempTicket.lottery.lotteryNumber }}</td>
                                            <td>${{ tempTicket.lottery.jackpot }}</td>
                                            <td>{{ tempTicket.Status }}</td>
                                            <td><a class="btn btn-success" href="/dashboard/play/pay/{{ tempTicket.id }}"><i class="fa fa-info"></i></a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {# <span class="pull-right mt-3">1 item</span> #}
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- cart-section end -->

    {% include 'footer.html.twig' %}

{% endblock %}