{% extends 'base.html.twig' %}

{% block title %}Pay {% endblock %}

{% block body %}

    {% include 'menu.html.twig' %}
{# <h1>Pay Lottery Ticket - {{lottery.lotteryNumber}}</h1> #}
{# <hr> #}
{# 
<div>
    <h4>Ticket Amount: {{ lottery.ticketAmount }}</h4>
    <br>
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Ticket No</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Bitcoin Transcation No</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>
    <a class="btn btn-success" href="/dashboard/buy/{{ lottery.id }}">Pay Lottery Ticket</a>
</div>
 #}
    {# {{ form(form) }} #}
    <div class="container mb-5">
        <div class="card">
            <div class="card-header">
                Ticket Details
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Lottery Number: {{ lottery.lotteryNumber }}
                </li>    
                <li class="list-group-item">
                Ticket Number: {{ ticket.ticketNumber}}
                </li>    
                
                
            </ul>
            <div class="card-footer">
                {{ form_start(form) }}
                {{ form_widget(form) }}

                <input class="btn btn-success" type="submit"/>
                
                {{ form_end(form) }}
            </div>
        </div>    
        

    </div>

    {% include 'footer.html.twig' %}

{% endblock %}
