{% extends 'base.html.twig' %}

{% block title %}Play{% endblock %}

{% block body %}

    {% include 'menu.html.twig' %}

    <!-- single-categories-play-section start -->
    {# <section class="single-categories-play-section section-padding"> #}
        <div class="container my-5">

            <div class="row">
                <div class="mx-auto">
                    <div class="single-cat-play-area">
                        <div class="single-header d-flex justify-content-between">
                            <div class="left d-flex">
                                <div class="icon">
                                <img src="assets/images/elements/jackpot-1.png" alt="">
                                </div>
                                <div class="content">
                                <h3 class="title"> {{lottery.lotteryNumber}}</h3>
                                <span class="amount">${{lottery.jackpot | number_format(0, '.', ',')}}</span>
                                </div>
                            </div>
                            {# <div class="right text-right">
                                <span class="draw-days">draw in 3 days</span>
                                <div class="header-btn-area">
                                <button type="button" id="quick-pick-all">Quick Pick All</button>
                                <button type="button" id="add-item"><i class="fa fa-plus"></i></button>
                                <button type="button" id="delete-item"><i class="fa fa-trash"></i></button>
                                </div>
                            </div> #}
                        </div><!-- single-header end -->
                        <div class="single-body">
                            <div class="single-body-inner d-flex">
                                <div class="">
                                    {# <button type="button" class="close-play-card"><i class="fa fa-times"></i></button> #}
                                    <div class="play-card-inner text-center">
                                        <div class="play-card-header">
                                            <span class="number-amount">Pick 5 Numbers</span>
                                            <div class="header-btn-area">
                                                <button type="button" class="btn btn-light" id="quick-pick1">quick pick</button>
                                                <button type="button" class="btn btn-light" id="clear-pick1">clear</button>
                                            </div>
                                        </div>
                                    <div class="play-card-body">
                                        {# <div class="input-group mb-3">
                                            <input type="number" class="form-control number" id="number_first" name="number_first" target="select_number_first" min="1" max="99">
                                        </div>
                                        <hr>
                                        <div class="input-group mb-3">
                                            <input type="number" class="form-control number" id="number_second" name="number_second" target="select_number_second" min="1" max="99">                                            
                                        </div>
                                        <hr>
                                        <div class="input-group mb-3">
                                            <input type="number" class="form-control number" id="number_third" name="number_third" target="select_number_third" min="1" max="99">                                            
                                        </div>
                                        
                                        <hr>
                                        <div class="input-group mb-3">
                                            <input type="number" class="form-control number" id="number_fourth" name="number_fourth" target="select_number_fourth" min="1" max="99">
                                        </div>
                                        <hr>
                                        <div class="input-group mb-3">
                                            <input type="number" class="form-control number" id="number_fifth" name="number_fifth" target="select_number_fifth" min="1" max="99">                                            
                                        </div> #}


                                        <ul class="number-list number" id="number_first"  target="select_number_first">
                                            <li>1</li>
                                            <li>2</li>
                                            <li>3</li>
                                            <li>4</li>
                                            <li>5</li>
                                            <li>6</li>
                                            <li>7</li>
                                            <li>8</li>
                                            <li>9</li>
                                            
                                        </ul>
                                        <hr>
                                        <ul class="number-list number" id="number_second" target="select_number_second">
                                            <li>1</li>
                                            <li>2</li>
                                            <li>3</li>
                                            <li>4</li>
                                            <li>5</li>
                                            <li>6</li>
                                            <li>7</li>
                                            <li>8</li>
                                            <li>9</li>
                                            
                                        </ul>
                                        <hr>
                                        <ul class="number-list number" id="number_third" target="select_number_third">
                                            <li>1</li>
                                            <li>2</li>
                                            <li>3</li>
                                            <li>4</li>
                                            <li>5</li>
                                            <li>6</li>
                                            <li>7</li>
                                            <li>8</li>
                                            <li>9</li>
                                            
                                        </ul>
                                        <hr>
                                        <ul class="number-list number" id="number_fourth" target="select_number_fourth">
                                            <li>1</li>
                                            <li>2</li>
                                            <li>3</li>
                                            <li>4</li>
                                            <li>5</li>
                                            <li>6</li>
                                            <li>7</li>
                                            <li>8</li>
                                            <li>9</li>
                                            
                                        </ul>
                                        <hr>
                                        <ul class="number-list number" id="number_fifth" target="select_number_fifth">
                                            <li>1</li>
                                            <li>2</li>
                                            <li>3</li>
                                            <li>4</li>
                                            <li>5</li>
                                            <li>6</li>
                                            <li>7</li>
                                            <li>8</li>
                                            <li>9</li>
                                            
                                        </ul>                                    
                                        
                                        {# <span class="add-more-text">All Selected</span>
                                        <ul class="number-list">
                                            <li>1</li>
                                            <li>2</li>
                                            <li>3</li>
                                            <li>4</li>
                                            <li>5</li>
                                            <li>6</li>
                                            <li>7</li>
                                            <li>8</li>
                                            <li>9</li>
                                            
                                        </ul> #}
                                    </div>
                                    <div class="play-card-footer">
                                        <p class="play-card-footer-text">Selected Numbers:</p>
                                        <div class="selected-numbers">
                                            <span class="selected_number" id="select_number_first" style="padding: 0 3px;">0</span>
                                            <span class="selected_number" id="select_number_second" style="padding: 0 3px;">0</span>
                                            <span class="selected_number" id="select_number_third" style="padding: 0 3px;">0</span>
                                            <span class="selected_number" id="select_number_fourth" style="padding: 0 3px;">0</span>
                                            <span class="selected_number" id="select_number_fifth" style="padding: 0 3px;">0</span>
                                            {# <span>8</span> #}
                                        </div>
                                    </div>
                                </div>
                            </div><!-- play-card end -->
                        </div>
                        </div><!-- single-body end -->
                        <div class="single-footer d-flex justify-content-between">
                            <div class="left">
                                {# <span>Winning Chances</span>
                                <div class="progress">
                                    <div class="progress-bar">50%</div>
                                    </div>
                                </div> #}
                                <div class="right d-flex justify-content-between">
                                    {# <div class="content">
                                        <p>
                                            <span>1 draw with 2 ticket:</span>
                                            <span class="amount">2 x €3.50</span>
                                        </p>
                                        <p>
                                            <span>Total Discount:</span>
                                            <span class="amount">-€0.00</span>
                                        </p>
                                    </div> #}
                                    {{ form_start(form) }}
                                    {{ form_widget(form) }}
                                    <div class="card-cart-btn-area">
                                        <button class="single-cart-btn" id="" type="submit" style="width: 180px; display: none;">
                                            <span class="single-cart-amount">${{lottery.ticketAmount | number_format(2, '.', ',')}}</span>
                                            Pay
                                        </button>
                                        {# <a href="#" class="single-cart-btn">
                                            <span class="single-cart-amount">${{lottery.ticketAmount | number_format(2, '.', ',')}}</span>
                                            Pay
                                        </a> #}
                                    </div>
                                            
                                    {{ form_end(form) }}
                                </div>
                            </div>                
                        </div>
                    </div>                          
                </div>   
            </div>   
        </div>
    {# </section> #}
{#                 
    <div class="container mb-5">
        <table class="table">
            <tr>
                <td scope="col">Size</td><td>{{ lottery.size }}</td>
            </tr>
            <tr>
            <td scope="col">Ticket Amount</td><td>{{ lottery.ticketAmount }}</td>
            </tr>                
            <tr>                
                <td scope="col">Jackpot</td><td>{{ lottery.jackpot }}</td>
            </tr>                
            <tr>
                <td scope="col">Start At</td><td>{{ lottery.startAt | date('Y-m-d H:i:s') }}</td>
            </tr>                                   
            <tr>
                <td>{{ lottery.closeAt | date('Y-m-d H:i:s') }}</td>
            </tr>
        </table>
        <a class="btn btn-success" href="{{ path('pay', {'id': lottery.id}) }}">Pay for Lottery Ticket</a>
    </div>
 #}
    {# <div class="container mb-5">
        {{ form_start(form) }}
        {{ form_widget(form) }}

        <br>
        <input class="btn btn-success" type="submit"/>
        
        {{ form_end(form) }}
    </div> #}

    {% include 'footer.html.twig' %}

{% endblock %}

{% block javascripts %}
<script>
jQuery(document).ready(function() {
    $('li').change(function(){
       //$('#'+ $(this).attr('target')).text($(this).val());
    });

    $('ul.number > li').click(function(){
        $(this).siblings().removeClass('active');
        $('#'+ $(this).parent().attr('target')).text($(this).text());
        getSelectedNumbers();
        //console.log($(this).text());
    });

    $('#clear-pick1').click(function(){
        clearSelectedNumbers();
    });

    $('#quick-pick1').click(function(){
        quickPick();
    });
});

function selectNumber(list, val){
    $(list + ' > li:contains("'+val+'")').siblings().removeClass('active');
    $(list + ' > li:contains("'+val+'")').addClass('active')
    getSelectedNumbers();
}

function clearSelectedNumbers(){
    $(".single-cart-btn").css('display', 'none');
    $('ul.number > li').removeClass('active');
    $('.selected_number').text('0');
    getSelectedNumbers();
}

function getSelectedNumbers(){
    temp = '';
    $('.selected_number').each(function(i) {
        //$(this).attr('rel'); // This is your rel value
        //console.log($(this).text());
        temp += $(this).text();
    });
    if(!temp.includes('0')){
        var pathArray = window.location.pathname.split('/');
        checkTicketNumberTaken(pathArray[3], temp);
    }
    $('#temp_ticket_TicketNumber').val(temp);
}

function quickPick(){

    val = Math.floor(Math.random() * 9) + 1;
    $('#select_number_first').text(val);
    selectNumber('#number_first', val);

    val = Math.floor(Math.random() * 9) + 1;
    $('#select_number_second').text(val);
    selectNumber('#number_second', val);


    val = Math.floor(Math.random() * 9) + 1;
    $('#select_number_third').text(val);
    selectNumber('#number_third', val);


    val = Math.floor(Math.random() * 9) + 1;
    $('#select_number_fourth').text(val);
    selectNumber('#number_fourth', val);


    val = Math.floor(Math.random() * 9) + 1;
    $('#select_number_fifth').text(val);
    selectNumber('#number_fifth', val);
    getSelectedNumbers();

    //$('#number_first > li:contains("'+val+'")').addClass('active');
}
function checkTicketNumberTaken(lottery_id, ticket_number){
    var urltocheck = window.location.origin + '/dashboard/play/check/' + lottery_id + '/' + ticket_number;
    $.ajax({url: urltocheck, success: function(data, textStatus, xhr){
        if(data == 'true'){
            $(".single-cart-btn").css('display', 'block');
        } else {
            $(".single-cart-btn").css('display', 'none');
        }
    }, error: function(){
        $(".single-cart-btn").css('display', 'none');
    }});
}

</script>
{% endblock %}